@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'papyrus';
  src: url('./fonts/papyrus.ttf') format('truetype'), 
       url('./fonts/papyrus.otf') format('otf'),
       url('./fonts/papyrus.svg') format('svg'),
       url('./fonts/papyrus.woff') format('woff'),
       url('./fonts/papyrus.woff2') format('woff2');
}

body {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.header {
  box-shadow: 0px 2px 10px rgb(0,0,0, .4);
}

.btn {
  box-shadow: 0px 2px 4px gray;
}

.calendar_item {
  box-shadow: 0px 2px 4px gray;
}

.calendar_item_shadow {
  box-shadow: 0px 2px 8px gray;
}